// form buttons
button {
    color: #fff;
}

.buttons {
    margin: 0 auto;
}

.submit-button,
.cancel-button {
    color: #fff;
    padding: .5em 2.5em;
    text-align: center;
    border-radius: 5px;
}

.submit-button {
    background-color: $blue;
    margin-right: 1em;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        background: $dark-blue;
    }
}

.cancel-button {
    background-color: $gray-button;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        background: $dark-gray-button;
    }

}

// ________________________________________________

//authorized

.header__buttons-auth{
    form{
        display: inline;
    }
}

.header__log-in, .header__sign-up {
    display: inline-block;
}

.header__log-in {
    margin-right: 1em;
    &:hover {
        text-decoration: underline;
    }

    &:active {
        transform: scale(.95);
    }
}
.header__sign-up {
    &:hover {
        text-decoration: underline;
    }

    &:active {
        transform: scale(.95);
    }
}
//unauthorized


.header__log-out {
    &:hover {
        text-decoration: underline;
    }

    &:active {
        transform: scale(.95);
    }
}
// ________________________________________________
// task buttons
.tasks__add,
.tasks__delete {
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: .6em 2em;
    border-radius: 5px;
}

.tasks__add {
    background: $blue;
    margin-right: .5em;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        background: $dark-blue;
    }
}

.tasks__delete {
    background: $gray-button;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        background: $dark-gray-button;
    }

}
// ________________________________________________
// hero buttons 
.hero {
    user-select: none;
}
.hero__buttons {
    font-size: 1.05rem;
}

.hero__log-in,
.hero__sign-up {
    padding: .5em;
    display: inline-block;
    width: 10vw;
    border: 3px solid $blue;
    border-radius: 5px;
   
}

.hero__log-in {
    background-color: $blue;
    margin-right: 1em;
    color: #fff;
    &:hover {
        border: 3px solid $dark-blue;
        background: $dark-blue;
    }

    &:active {
        border: 3px solid $dark-blue;
        background: $dark-blue;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}

.hero__sign-up {
    color: $blue;
    &:hover {
        background-color: rgba($color: $gray-button, $alpha: .2);
        border: 3px solid $dark-blue;
    }
    &:active {
        border: 3px solid $dark-blue;
        background-color: rgba($color: $gray-button, $alpha: .2);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}
// ________________________________________________