<header class="header">
    <a href="/" class="header__logo">ToDoList</a>
    <div class="header__buttons">
        <a class="header__log-in" href="/login">Log in</a>
        <a class="header__sign-up" href="/signup">Sign up</a>
    </div>
</header>