<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>ToDoList — 500</title>
</head>
<body>
    <div class="error">
        <img src="/img/500.svg" alt="500">
    </div>
</body>

</html>