<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>ToDoList</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="hero" data-aos="fade-in">
        <h1 class="hero__header">Authorize first,</h1>
        <p class="hero__text"> so you can manage your tasks.</p>
        <div class="hero__buttons">
            <a class="hero__log-in" id="open-log-in" href='/login'">Log in</a>
            <a class=" hero__sign-up" id="open-sign-up" href='/signup'">Sign up</a>
        </div>
    </div>
    <%- include("./partials/aos.ejs") %>
</body>
</html>