@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
:root {
  font-size: 16px;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a :focus,
a :active {
  outline: none;
}

nav,
header,
aside {
  display: block;
}

html,
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

@-webkit-keyframes notification-show {
  from {
    right: -40%;
  }
  to {
    right: 0;
  }
}

@keyframes notification-show {
  from {
    right: -40%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes notification-hide {
  from {
    right: 0;
  }
  to {
    right: -40%;
  }
}

@keyframes notification-hide {
  from {
    right: 0;
  }
  to {
    right: -40%;
  }
}

@-webkit-keyframes edit {
  from {
    width: 0;
  }
  to {
    width: 50vw;
  }
}

@keyframes edit {
  from {
    width: 0;
  }
  to {
    width: 50vw;
  }
}

button {
  color: #fff;
}

.buttons {
  margin: 0 auto;
}

.submit-button,
.cancel-button {
  color: #fff;
  padding: .5em 2.5em;
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.submit-button {
  background-color: #3057e8;
  margin-right: 1.5em;
}

.submit-button:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.submit-button:active {
  background: #3154d0;
}

.cancel-button {
  background-color: #dadada;
}

.cancel-button:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.cancel-button:active {
  background: #d1d1d1;
}

.header__buttons-auth form {
  display: inline;
}

.header__log-in, .header__sign-up {
  display: inline-block;
}

.header__log-in {
  margin-right: 1em;
}

.header__log-in:hover {
  text-decoration: underline;
}

.header__log-in:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.header__sign-up:hover {
  text-decoration: underline;
}

.header__sign-up:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.header__log-out:hover {
  text-decoration: underline;
}

.header__log-out:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.tasks__add,
.tasks__delete {
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: .6em 2em;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.tasks__add {
  background: #3057e8;
  margin-right: .5em;
}

.tasks__add:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.tasks__add:active {
  background: #3154d0;
}

.tasks__delete {
  background: #dadada;
}

.tasks__delete:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.tasks__delete:active {
  background: #d1d1d1;
}

.hero {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero__buttons {
  font-size: 1.05rem;
}

.hero__log-in,
.hero__sign-up {
  padding: .5em;
  display: inline-block;
  width: 10vw;
  border: 3px solid #3057e8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.hero__log-in {
  background-color: #3057e8;
  margin-right: 1em;
  color: #fff;
}

.hero__log-in:hover {
  border: 3px solid #3154d0;
  background: #3154d0;
}

.hero__log-in:active {
  border: 3px solid #3154d0;
  background: #3154d0;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hero__sign-up {
  color: #3057e8;
}

.hero__sign-up:hover {
  background-color: rgba(218, 218, 218, 0.2);
  border: 3px solid #3154d0;
}

.hero__sign-up:active {
  border: 3px solid #3154d0;
  background-color: rgba(218, 218, 218, 0.2);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.4rem;
  color: #767676;
  text-align: center;
  margin-bottom: 2em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  display: none;
}

.header {
  background-color: #3057e8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.25em 2em;
  z-index: 999;
  color: #fff;
}

.header.authorized {
  background-color: #3057e8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25em 2em;
  margin-bottom: 2em;
}

.header__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Concert One', cursive;
  font-size: 1.5rem;
  color: #fff;
}

.header__log-in, .header__sign-up {
  color: #fff;
}

.header__buttons-auth span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.5em;
}

.tasks {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 3em 3em 3em;
}

.tasks__list {
  margin-bottom: 4em;
}

.task {
  background-color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
  border-bottom: 1px solid #484848;
  padding-bottom: 1.5em;
}

.task:last-child {
  margin-bottom: 0;
}

.task__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.task__main label {
  position: relative;
  font-size: 1.6rem;
  margin-right: 1.4em;
}

#checkbox {
  z-index: -1;
  opacity: 0;
}

.task__checkbox {
  cursor: pointer;
  border: 1.6px solid #3057e8;
  width: 1em;
  height: 1em;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.task__checkbox::before {
  content: " ";
  background: url("../img/checkmark.svg") 0 0/cover no-repeat;
  width: 0;
  height: 1em;
  position: absolute;
  left: 0;
  top: -.15em;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.task__checkbox:hover {
  background-color: #f8f8f8;
}

.task__checkbox:active {
  border: 1.6px solid #3154d0;
}

.task__checkbox.checked::before {
  content: ' ';
  background: url("../img/checkmark.svg") 0 0/cover no-repeat;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 0;
  top: -.15em;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.tasks__header {
  font-size: 1.4rem;
  margin-bottom: 1.5em;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.task__name {
  font-size: 1.2rem;
  color: #484848;
  max-width: 60vw;
  margin-right: 1em;
  position: relative;
}

.line {
  display: inline-block;
  position: absolute;
  width: 0;
  left: 0;
  top: 50%;
  background-color: #767676;
  height: 1px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.line.checked {
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  background-color: #767676;
  height: 1px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.task__operations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.task__edit {
  margin-right: .25em;
}

.task__edit img {
  width: 2em;
}

.task__edit:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.task__edit:active {
  -webkit-filter: brightness(0) saturate(100%) invert(17%) sepia(69%) saturate(2200%) hue-rotate(217deg) brightness(119%) contrast(100%);
          filter: brightness(0) saturate(100%) invert(17%) sepia(69%) saturate(2200%) hue-rotate(217deg) brightness(119%) contrast(100%);
}

.task__delete img {
  width: 2.2em;
}

.task__delete:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.task__delete:active {
  -webkit-filter: brightness(0) saturate(100%) invert(17%) sepia(69%) saturate(2200%) hue-rotate(217deg) brightness(119%) contrast(100%);
          filter: brightness(0) saturate(100%) invert(17%) sepia(69%) saturate(2200%) hue-rotate(217deg) brightness(119%) contrast(100%);
}

.task__save {
  margin-right: 1em;
  color: #3057e8;
  font-family: 'Concert One', cursive;
  font-size: 1.5rem;
}

.task__save:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.task__save:active {
  -webkit-filter: brightness(0) saturate(100%) invert(17%) sepia(69%) saturate(2200%) hue-rotate(217deg) brightness(119%) contrast(100%);
          filter: brightness(0) saturate(100%) invert(17%) sepia(69%) saturate(2200%) hue-rotate(217deg) brightness(119%) contrast(100%);
}

.tasks__empty {
  font-family: 'Work Sans',
 sans-serif;
  font-weight: 100;
  color: #d1d1d1;
  color: #767676;
  font-size: 1.8rem;
  margin-bottom: -1em;
}

.task__edit-form {
  display: inline-block;
  width: 100%;
}

.task__edit-form #newName {
  background-color: rgba(218, 218, 218, 0.4);
  -webkit-border-radius: 5em;
          border-radius: 5em;
  padding: .5em;
  width: 0;
  margin-right: 1em;
  -webkit-animation: edit 1s forwards;
          animation: edit 1s forwards;
}

.task__edit-form #newName:focus {
  -webkit-box-shadow: rgba(48, 87, 232, 0.8) 0px 0px 0px 2px;
          box-shadow: rgba(48, 87, 232, 0.8) 0px 0px 0px 2px;
}

.task__edit-form #newName::-webkit-input-placeholder {
  font-style: italic;
  font-size: 1.1rem;
}

.task__edit-form #newName:-ms-input-placeholder {
  font-style: italic;
  font-size: 1.1rem;
}

.task__edit-form #newName::-ms-input-placeholder {
  font-style: italic;
  font-size: 1.1rem;
}

.task__edit-form #newName::placeholder {
  font-style: italic;
  font-size: 1.1rem;
}

.hero {
  padding: 0 3em;
  width: 100vw;
  height: 91.1vh;
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.hero__header {
  font-size: 4rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #3057e8;
  margin-bottom: .2em;
  letter-spacing: .06em;
}

.hero__text {
  text-transform: none;
  font-size: 2.2rem;
  letter-spacing: .5px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #767676;
  margin-bottom: 1.2em;
}

.sign-up,
.log-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.sign-up__wrapper,
.log-in__wrapper {
  margin-top: 3em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-height: 100%;
  text-align: center;
  background: #fff;
}

.sign-up__wrapper input,
.log-in__wrapper input {
  border-bottom: 1px solid #767676;
  margin-bottom: 2em;
  padding-bottom: .5em;
}

.sign-up__image,
.log-in__image {
  scale: .9;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 40%;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  width: auto;
}

.sign-up__form,
.log-in__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3em;
}

.new-task .title {
  display: block;
}

.new-task textarea {
  border: 1px solid #484848;
  width: 90vw;
  padding: 1em;
  margin-bottom: 2em;
  height: 40vh;
}

.new-task__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification-error,
.notification-success,
.internal-error {
  position: fixed;
  top: 4.1em;
  right: -40%;
  color: #fff;
  text-align: center;
  padding: 1em;
  width: 15vw;
  -webkit-animation: notification-show 2s forwards, notification-hide 2s 5s forwards;
          animation: notification-show 2s forwards, notification-hide 2s 5s forwards;
}

.notification-error,
.internal-error {
  background-color: #c22626;
}

.notification-success {
  background-color: #28ad28;
}

.error {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error img {
  width: 50vw;
}

@media screen and (max-width: 1280px) {
  .hero__log-in,
  .hero__sign-up {
    width: 15vw;
  }
}

@media screen and (max-width: 768px) {
  .tasks__header {
    font-size: 1.2rem;
  }
  .hero__buttons {
    font-size: 1rem;
  }
  .hero__header {
    font-size: 3rem;
  }
  .hero__text {
    font-size: 1.5rem;
  }
  .hero__log-in,
  .hero__sign-up {
    width: 25vw;
  }
  .error img {
    width: 80vw;
  }
  .notification-auth,
  .notification-success {
    width: 25vw;
  }
  .sign-up,
  .log-in {
    height: auto;
    margin-top: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sign-up__wrapper,
  .log-in__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 40%;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    padding: 0;
  }
  .sign-up__form,
  .log-in__form {
    padding: 0;
    width: 60vw;
  }
  .sign-up__image,
  .log-in__image {
    scale: 1;
    width: auto;
  }
  .sign-up__image img,
  .log-in__image img {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  :root {
    font-size: 14px;
  }
  .tasks__delete {
    display: none;
  }
  .tasks__add {
    margin-right: 0;
    font-size: 1.1rem;
  }
  .tasks__header {
    margin-bottom: 2.5em;
  }
  .header__buttons-auth span {
    display: none;
  }
  .header__log-out {
    font-size: 1.1rem;
  }
  .task__name {
    max-width: 40vw;
  }
  .sign-up__form,
  .log-in__form {
    width: 80vw;
  }
}

@media screen and (max-width: 360px) {
  :root {
    font-size: 12px;
  }
  .log-in__image,
  .sign-up__image {
    display: none;
  }
  .sign-up,
  .log-in {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
    margin-top: 0;
  }
  .sign-up__form,
  .log-in__form {
    width: 90vw;
    margin: 0 auto;
  }
  .new-task textarea {
    height: 30vh;
  }
  .title {
    display: block;
  }
  .error img {
    width: 90vw;
  }
  .header__log-in {
    margin-right: .5em;
  }
  .hero__log-in,
  .hero__sign-up {
    width: 30vw;
  }
  .task__name {
    max-width: 30vw;
    margin-right: 0;
  }
  .notification-auth,
  .notification-success {
    width: 30vw;
  }
}
